<div class="dashboard">
  <nav>
    <div>
      <a href="/watchlist">My watchlist</a>
      <a href="#">Change password</a>
    </div>
    <a href="/logout">Logout</a>
  </nav>
  <h2>Hello, <%= user.username %></h2>
</div>
